body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    color: #333;
}

#img-div {
    text-align: center;
    margin-top: 20px;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#img-caption {
    margin-top: 10px;
    font-style: italic;
    color: #666;
}

#tribute-info {
    margin-top: 20px;
    text-align: justify;
    color: #333;
}

#tribute-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}